<?xml version="1.0" encoding="UTF-8"?>
<!-- 当scan被设置为true时，当配置文件发生改变，将会被重新加载，默认为true -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 日志服务器host -->
    <property name="server.host" value="10.10.3.18"/>
    <!-- 日志服务器端口 -->
    <property name="server.port" value="24224"/>

    <!--应用名，二选一-->
    <!-- Spring Boot，从 spring 配置文件中 spring.application.name 获取 -->
    <springProperty scope="context" name="appName" source="spring.application.name"/>
    <!-- 租户id，目前统一使用goldwind -->
    <property scope="context" name="tenant" value="goldwind"/>
    <!--环境：开发、测试、预发布、生产，根据spring.profiles.active获取 -->
    <springProperty scope="context" name="environment" source="spring.profiles.active"/>

    <!-- 日志文件输出目录 -->
    <property name="fileDir" value="${user.home}/powerjob/server/logs"/>

    <!-- SDK提供的基础配置 -->
    <include resource="logBaseConfig.xml"/>

    <!--日志级别从低到高分为TRACE < DEBUG < INFO < WARN < ERROR < FATAL，如果设置为INFO，则低于INFO的信息都不会输出 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <!-- 单独存储错误日志 -->
        <appender-ref ref="FILE_ERROR"/>
        <!-- 发送日志到日志服务器 -->
        <appender-ref ref="FLUENCY_ASYNC"/>
    </root>
</configuration>